In [49]:
import pandas as pd

In [50]:
df = pd.read_csv("./test_benign/52e6d88cf6e53d4d94edcb60f03fee0a.csv")

In [51]:
df

        push
0       push
1        mov
2       push
3        mov
4       push
...      ...
304013  retn
304014   mov
304015   mov
304016   pop
304017  retn

[304018 rows x 1 columns]

In [53]:
df.columns = ['opcode']

In [54]:
df

       opcode
0        push
1         mov
2        push
3         mov
4        push
...       ...
304013   retn
304014    mov
304015    mov
304016    pop
304017   retn

[304018 rows x 1 columns]

In [55]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,304008,304009,304010,304011,304012,304013,304014,304015,304016,304017
opcode,push,mov,push,mov,push,mov,dec,and,mov,mov,...,pop,retn,mov,mov,pop,retn,mov,mov,pop,retn

In [56]:
df

       opcode
0        push
1         mov
2        push
3         mov
4        push
...       ...
304013   retn
304014    mov
304015    mov
304016    pop
304017   retn

[304018 rows x 1 columns]

In [57]:
df

       opcode
0        push
1         mov
2        push
3         mov
4        push
...       ...
304013   retn
304014    mov
304015    mov
304016    pop
304017   retn

[304018 rows x 1 columns]

In [58]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,304008,304009,304010,304011,304012,304013,304014,304015,304016,304017
opcode,push,mov,push,mov,push,mov,dec,and,mov,mov,...,pop,retn,mov,mov,pop,retn,mov,mov,pop,retn

In [59]:
from sklearn.feature_extraction.text import CountVectorizer

In [60]:
df = df.T[]

SyntaxError: invalid syntax (2338381449.py, line 1)

In [61]:
df.to_numpy()

array([['push'],
       ['mov'],
       ['push'],
       ...,
       ['mov'],
       ['pop'],
       ['retn']], dtype=object)

In [62]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,304008,304009,304010,304011,304012,304013,304014,304015,304016,304017
opcode,push,mov,push,mov,push,mov,dec,and,mov,mov,...,pop,retn,mov,mov,pop,retn,mov,mov,pop,retn

In [65]:
df.to_numpy()

array([['push'],
       ['mov'],
       ['push'],
       ...,
       ['mov'],
       ['pop'],
       ['retn']], dtype=object)

In [66]:
df.to_numpy().reshape(1,304018)

array([['push', 'mov', 'push', ..., 'mov', 'pop', 'retn']], dtype=object)

In [68]:
opcode = df.to_numpy().reshape(1, 304018)

In [69]:
opcode

array([['push', 'mov', 'push', ..., 'mov', 'pop', 'retn']], dtype=object)